.cursus-container {
  width: 90%;
  margin: auto;
}

.cursus-container h1 {
  font-family: "TT Norms Pro Bold", sans-serif;
  font-size: 3rem;
  margin-top: 40px;
}
.cursus-container p {
  font-size: 1.4rem; /* Police des textes descriptifs */
}

.main-title {
  color: #432683;
  text-align: left;
  max-width: 57%;
  margin-top: 200px !important;
}

.image-container {
  background-image: url("./banniere_gea.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 500px;
}

.image-container2 {
  background-image: url("./banniere_mmi.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 500px;
}

.image-container3 {
  background-image: url("./banniere_tc.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 500px;
}

/* Text and Questionnaire Section */
.text-questionnaire {
  display: flex;
  flex-direction: column; /* Mobile-first: Empile les éléments */
  gap: 16px;
  margin-top: 80px;
}

.description-section {
  padding: 16px;
  text-align: left;
}

.description-text2 {
  margin-top: 30px;
}

.questionnaire-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 150px;
}

.questionnaire-title {
  font-size: 2rem;
  color: #432683;
}

.text-questionnaire p,
.button-section {
  margin-top: 20px;
}

  .button-section{
    text-align: right;
  }
  

  .cta-button {
    padding: 12px 24px;
    background: linear-gradient(45deg, #654ea3, #432683); /* Dégradé moderne */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease; /* Transition fluide */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Légère ombre */
  }
  
  .cta-button:hover {
    background: linear-gradient(45deg, #7159c1, #563d92); /* Dégradé plus clair */
    transform: translateY(-3px) scale(1.05); /* Légère élévation et agrandissement */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
  }
  
  .cta-button:active {
    transform: translateY(2px) scale(0.98); /* Effet d’enfoncement */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4); /* Réduction de l'ombre */
    background: linear-gradient(45deg, #563d92, #432683); /* Retour à une couleur intense */
  }
  

  
  .parcours-title {
    font-size: 2rem;
    color: #432683;
    text-align: left;
    margin-top: 24px;
  }
  
  .parcours-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 100px;
    justify-content: center; 
    width: 100%; 
    align-items: center;
    justify-items: center;
    
  }

.parcours-card2 {
  justify-items: center;
  margin-top: 30px;
}

.parcours-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px; /* Ajouter un peu de padding pour l'espacement interne */
  border: 0.5px solid #432683;
  border-radius: 40px;
  height: 100%;
  width: 100%; /* Adapter à la colonne */
  max-width: 700px; /* Largeur maximale pour ne pas dépasser */
  max-height: 450px;
  margin-bottom: 40px;
}

.card-title {
  color: #432683;
  margin-top: 0 !important;
  font-size: 2rem !important;
}

.card-li {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.card-ul {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.subtitle-card {
  color: #432683;
  font-family: "TT Norms Pro Bold", sans-serif;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1249px) {
  .cursus-container p {
    font-size: 2rem; /* Police des textes descriptifs */
  }

  .card-title {
    font-size: 1.5rem !important;
  }

  .card-li {
    font-size: 0.8rem;
  }

  .subtitle-card {
    font-size: 1rem !important;
  }
}

@media (max-width: 500px) {
  .image-container,
  .image-container2,
  .image-container3 {
    width: 100%;
    height: 200px !important;
    margin-top: 30px;
  }
  .card-li {
    font-size: 1rem !important;
    margin-bottom: 30px;
  }

  .parcours-card {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .parcours-container {
    grid-template-columns: 1fr; /* Une seule colonne */
    margin-top: 40px;
  }

  .card-li {
    font-size: 1rem;
  }

  .main-title {
    font-size: 1.9rem !important;
    max-width: 80% !important;
  }

  .image-container,
  .image-container2,
  .image-container3 {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }

  .cursus-container p {
    font-size: 1rem; /* Police des textes descriptifs */
  }

  .cursus-container h1 {
    font-size: 2rem;
    margin-top: 40px;
  }

  .text-questionnaire {
    margin-top: 20px;
  }
}

@media (max-width: 1250px) {
  .questionnaire-section {
    margin-left: 0;
  }
}

/* Responsive Adjustments */
@media (min-width: 1250px) {
  .text-questionnaire {
    flex-direction: row; /* Passe en mode côte à côte */
  }

  .text-questionnaire2 {
    flex-direction: row !important; /* Passe en mode côte à côte */
    margin-top: 80px;
  }

  .description-section,
  .questionnaire-section,
  .description-section2,
  .questionnaire-section2 {
    flex: 1; /* Occupe une largeur égale */
  }
}

.questionnaire-section2 {
  display: flex;
  flex-direction: column; /* Mobile-first: Empile les éléments */
  gap: 16px;
}

.text-questionnaire2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.questionnaire-title2 {
  margin-top: 0 !important;
  color: #432683;
}
