.probleme-container {

}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.loading {
  font-size: 18px;
  color: #007bff;
}

.error {
  font-size: 18px;
  color: #dc3545;
}

.test-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.test-link {
  text-decoration: none;
  color: inherit;
}

.test-item {
  flex: 1 1 calc(30% - 20px); /* Slightly larger cards with equal width */
  margin-bottom: 20px;
  padding: 20px; /* Increase padding for larger appearance */
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-item:hover {
  background-color: #f1f1f1;
}

.test-title {
  margin: 0;
  font-size: 2rem; /* Augmente encore la taille de la police */
  color: #432683;
  text-align: center; /* Centre le texte */
}

.filter-list {
  list-style-type: none;
  padding: 0 20px; /* Ajoute du padding pour éloigner le filtre de la bordure */
  display: flex;
  gap: 10px;
  margin: 20px 0; /* Add margin to the top and bottom */
}

.filter-item {
  margin: 0;
}

.filter-button {
  background-color: #583e92;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #432683;
}

.filter-button.active {
  background-color: #361d6b;
}

.cnt-title {
  background-color: #F9F9F9;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
}
