.question-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  background: #432683;
  width: 800px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.answer p {
  margin: 20px;
  color: white;
  font-family: "TT Norms Pro Regular";
  font-size: 3em;
  text-align: center;
}

.answer-buttons {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.answer-button {
  display: flex;
  align-items: center;
}
.answer-button img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.answer-buttons button {
  margin: 0.5em;
  padding: 2em;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  transition: all 0.3s;
  color: white;
  font-family: "TT Norms Pro Regular";
  font-size: 1.5em;
  cursor: pointer;
}

.feedback {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  height: 55px;
  margin: 1em 0 1em 0;
}
.feedback button {
  margin: 1em 10% 1em 0;
  background: black;
  color: white;
  font-family: "TT Norms Pro Regular";
  padding: 1em;
  border: 1px solid #f9f9f9;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.feedback button img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#answer-1 {
  background: #432683;
}

#answer-1:hover {
  background: #5f3f9f;
}

#answer-2 {
  background: #7357b2;
}

#answer-2:hover {
  background: #8b4db1;
}

#answer-3 {
  background: #8b4db1;
}

#answer-3:hover {
  background: #a15fc3;
}

#answer-4 {
  background: #d187e4;
}

#answer-4:hover {
  background: #e0a7f0;
}

.correct-answer {
  background-color: #e3f2db;
}

.incorrect-answer {
  background-color: #fae0e0;
}

.answer-text {
  font-family: "TT Norms Pro bold";
  margin-right: 10px;
}

.answer-result {
  font-family: "TT Norms Pro bold";
}

.answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-answer-text {
  color: #3ca702;
}

.incorrect-answer-text {
  color: #dc2323;
}

@media (max-width: 900px) {
  .answer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .answer-buttons button {
    font-size: 1.2em;
  }
  .answer-button img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 560px) {
  .answer p {
    font-size: 2em;
    margin: 10px;
  }
  .answer {
    height: 200px;
  }
  .answer-buttons button {
    font-size: 1.2em;
    padding: 1.4em;
  }
  .answer-button img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .answer p {
    font-size: 1.3em;
  }
  .answer {
    height: 130px;
  }
  .answer-button {
    flex-direction: column;
  }
  .answer-buttons button {
    justify-content: center;
    aspect-ratio: 1;
    padding: 10%;
  }
  .answer-button img {
    margin: 0;
    width: 50%;
    height: 50%;
  }
}

.test-already-done-container {
  max-width: 800px;
  margin: 0 auto;
}

.test-already-done,
.test-finished {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  width: 100%;
}

.test-already-done-title,
.test-finished-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.test-already-done-subtitle,
.test-finished-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.test-already-done-list,
.test-finished-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.test-already-done-item,
.test-finished-item {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

.finish-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #432683;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.finish-button:hover {
  background-color: #5f3f9f;
}

@media (max-width: 768px) {
  .test-already-done-container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 500px) {
  .answer-container {
    flex-direction: column;
  }
}
